{% extends 'layout.html' %}

{% block title %}View{% endblock %}

{% block content %}
<h1>Book appointment</h1>
<p>You can book your appointment by selecting a date and time from below.</p>
<form action="{{ url_for('book') }}" id="ft-form" method="post">
  <fieldset>
    <legend>Appointment request</legend>
    <div class="two-cols">
      <label>
        Date
        <input type="date" name="date">
      </label>
      <input type="hidden" name="id" value="{{ data['id'] }}">
    </div>
  </fieldset>
  <div class="btns">
    <input type="submit" value="Submit request">
  </div>
</form>
{% endblock %}